<div class="user-recipes">
  <h2>Your Recipes</h2>
  <ul>
    <% @recipes.each do |recipe| %>
      <li class="recipe-box"><%= link_to recipe.name, recipe_path(recipe) %></li>
    <% end %>
  </ul>
</div>
