<h1 class="public-recipe-list-title">Public Recipe List:</h1>

<% if @public_recipes.any? %>
  <ul class="public-recipe-list">
    <% @public_recipes.each do |recipe| %>
      <li class="public-recipe-item">
        <%= link_to "#{recipe.name} by #{recipe.user.name}", recipe_path(recipe) ,class: "public-recipe-link" %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p class="no-public-recipes">No public recipes available.</p>
<% end %>
