body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.main-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 80%;
}

.login-container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* .field {
  margin-bottom: 15px;
} */

.field label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.field input[type="email"],
.field input[type="password"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.remember-me {
  display: inline-block;
  margin-left: 5px;
}

.page-title {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.actions {
  text-align: center;
  margin-top: 20px;
}

.actions input[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.actions input[type="submit"]:hover {
  background-color: #0056b3;
}

.links {
  text-align: center;
  margin-top: 20px;
}

.links a {
  color: #007bff;
  text-decoration: none;
}

.food-form {
  width: 400px;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.new-recipe-title {
  text-align: center;
  margin-bottom: 20px;
}

.field {
  margin-bottom: 15px;
}

.new-recipe {
  text-decoration: none;
  color: #000;
  font-size: large;
}
ul li {
  text-decoration: none;
  list-style-type: none;
}

ul li a {
  text-decoration: none;
}
.name-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.name-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.new-button {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
}

.new-button:hover {
  background-color: #0056b3;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.button-cnt {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.new-button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}
.fr-food {
  padding: 10px;
  text-align: center;
}
.body-foods tr:nth-child(odd) {
  background-color: #f9f9f9;
}
.no-recipes {
  list-style-type: none;
  color: #666;
  font-style: italic;
}

.body-foods th {
  padding: 10px;
  text-align: center;
}

.body-foods td {
  padding: 10px;
  text-align: center;
  border-top: 1px solid #ccc;
}

.first-row th {
  border-top: none;
}
.table-foods {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
  margin-top: 20px;
}

.header-foods {
  background-color: darkcyan;
}

.recipes-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.recipes {
  display: flex;
  flex-direction: column;
  width: 100%;
  list-style: none;
  padding: 0;
  gap: 10px;
}

.recipe {
  border: #000 solid 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 30px;
  box-sizing: border-box;
}

.recipe-title-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px 0;
  box-sizing: border-box;
  gap: 10px;
}

.recipe-name {
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #000;
  margin: 0;
}

.recipe-des {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0;
  padding: 20px 0;
  box-sizing: border-box;
}

.public_recipe {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 22rem;
  padding: 0 30px;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border: #000 solid 3px;
  box-sizing: border-box;
}

.public-section {
  width: 80%;
}

.show-recipe {
  width: 80%;
}

.show-recipe-left {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
}

.user-recipes {
  width: 40rem;
  margin-top: 1rem;
}

.recipe-box {
  border: 1px solid black;
  border-radius: 7px;
  height: 3.5rem;
  list-style-type: none;
  padding: 1.5%;
}

.recipe-detail-table {
  width: 45rem;
}
.body-elements {
  background-color: #f9f9f9;
}

.recipe-detail-table thead {
  background-color: darkcyan;
  color: white;
}

tbody tr:nth-child(even) {
  background: #ccc;
}
.even-row {
  background-color: #f2f2f2;
}

tbody tr:nth-child(odd) {
  background: #fff;
}
/* styling for recipe*/
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style for the form container */
*/ .form {
  padding: 20px;
  border-radius: 8px;
}

/* Style for form labels */
.forms label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Style for form fields */
.forms input[type="text"],
.forms input[type="number"],
.forms textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Style for checkbox */
.forms input[type="checkbox"] {
  margin-top: 5px;
}

/* Style for submit button */
.forms input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Style for back link */
.back-link {
  display: block;
  margin-top: 10px;
  text-align: center;
  color: #007bff;
  text-decoration: none;
}

.back-link:hover {
  text-decoration: underline;
}
.forms {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/* styling for shopping*/
/* Add these styles to your CSS or style tag */
.shopping-container {
  width: 100%;
  text-align: center;
}

.text-secondary {
  color: #6c757d;
}

.row.col-8.offset-2 {
  margin-top: 20px;
}

.row.col-6 {
  margin-bottom: 10px;
}

.main-container-t {
  margin-top: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  text-align: center; /* Center align the table content */
}
.row-element {
  padding: 10px;
  text-align: center;
}

.table th,
.table td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.table th {
  background-color: #f8f9fa;
  text-align: center; /* Center align the table header */
  font-weight: bold;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f8f9fa;
}

.table-hover tbody tr:hover {
  background-color: #f2f2f2;
}

/* Make the table columns span the width */
.table th:nth-child(1),
.table td:nth-child(1),
.table th:nth-child(2),
.table td:nth-child(2),
.table th:nth-child(3),
.table td:nth-child(3) {
  width: 33.33%; /* Divide the width evenly among the three columns */
}
/* styling for show recipe detais*/

.recipe-name {
  font-size: 24px;
  color: #333;
}

.recipe-detail-table {
  width: 90%;
  border-collapse: collapse;
  margin-top: 20px;
}

.recipe-detail-table th,
.recipe-detail-table td {
  padding: 10px;
  border: 1px solid #ddd;
}

.private-recipe-message {
  color: #d9534f;
}

.add-new-food {
  margin-right: 10px;
}
/* styling for public recipes */

.public-recipe-list-title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

/* Style the list container */
.public-recipe-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Style each recipe item */
.public-recipe-item {
  margin-bottom: 10px;
}

/* Style the recipe link */
.public-recipe-link {
  display: block;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #f5f5f5;
  text-align: center;
  text-decoration: none;
  color: #333;
}

.public-recipe-link:hover {
  background-color: #e0e0e0;
}
